---
import Layout from '~/layouts/PageLayout.astro';
import ContentClass from '~/components/landing/ContentClass.astro';
import NavClass from '~/components/landing/NavClass.astro';

const metadata = {
  title: 'Clase 9 - Módulo 2 - IA Estanzuela',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="grid max-w-[1024px] px-6 sm:px-4 py-4 m-auto grid-cols-1 md:grid-cols-[1fr_3fr] gap-4">
    <NavClass open={1} />

    <section>
      <header>
        <p class="text-xl mb-1 text-secondary dark:text-blue-200 font-bold tracking-wide">Clase 9</p>
        <h1
          class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter font-heading dark:text-gray-200 mb-8"
        >
        Práctica de ChatBot con Python parte 1.
        </h1>
        <div class="flex flex-col md:flex-row gap-2">
          <a
            href="https://prezi.com/view/tvEjA6NDaWKPgxKqNQIv/"
            target="_blank"
            class="btn-primary w-full md:w-fit sm:mb-0">Ver presentación (Prezi)</a
          >
          <a
            href="https://drive.google.com/file/d/1OUgmuK_ToYdfHqHMyPmcCgo3D3VcYROu/view?usp=sharing"
            target="_blank"
            class="btn-secondary w-full md:w-fit sm:mb-0">Descargar presentación (PDF)</a
          >
          <a
            href="https://drive.google.com/file/d/10n_eyYdxrcpJy-xWoI37RClijj0KCACH/view?usp=sharing"
            target="_blank"
            class="btn-secondary w-full md:w-fit sm:mb-0">Descargar código de la práctica (RAR)</a
          >
          <a
            href="https://drive.google.com/file/d/1_g2o6KudI33dNS-3MuCTOasgf9_Rwefw/view?usp=sharing"
            target="_blank"
            class="btn-secondary w-full md:w-fit sm:mb-0">Descargar código de la práctica (Google colab)</a
          >
        </div>
      </header>
      <article class="my-8">
        <h3 class="text-xl text-secondary dark:text-blue-200 font-bold tracking-wide uppercase">Videos recomendados</h3>

        <ContentClass
          title="Práctica 1 con Python (YA DISPONIBLE)"
          href="https://drive.google.com/file/d/1GzZmWmEX5sO5tUIsaSxU0iY7bUXG4XEa/view?usp=sharing"
        >
          <p slot="description">
            En este video les explicaré como ejecutar la práctica del día sábado, paso a paso hasta llegar a ejecutar el chatbot.
          </p>
          <slot slot="link-name">Ver video</slot>
        </ContentClass>

        <ContentClass
          title="Práctica 1 con Google Colab (YA DISPONIBLE)"
          href="https://drive.google.com/file/d/1E8wjIsqZrv16VhOQtUw4QUCUEPaK-ZTG/view?usp=sharing"
        >
          <p slot="description">
            También puede realizar la práctica con Google Colab. Les compartiré el video cuando esté finalizado.
          </p>
          <slot slot="link-name">Ver video</slot>
        </ContentClass>
      </article>
    </section>
  </section>
</Layout>
