---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Headline from '~/components/blog/Headline.astro';

const metadata = {
  title: 'IA Estanzuela - Homepage',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Inscribirme',
        href: '/inscripciones',
        target: '',
        icon: 'tabler:hand-stop',
      },
      { text: 'Más información', href: '#que-aprenderas' },
    ]}
    image={{ src: '~/assets/images/hero.webp', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Aprende<span class="text-accent dark:text-white highlight"> Inteligencia Artificial</span> con cursos gratuitos
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Curso introductorio para aprender el
        <span class="font-semibold">mundo actual de la IA</span>. 100% gratis y desde cero.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="que-aprenderas"
    tagline="Temas"
    title="¿Qué Aprenderás?"
    subtitle="Sumérgete en el fascinante mundo de la IA y prepárate para convertirte en un visionario del futuro."
    items={[
      {
        title: 'Crea tu Asistente con IA',
        description:
          'A lo largo del curso, desarrollaremos un asistente virtual utilizando herramientas de inteligencia artificial, aprendiendo a sacarles el máximo partido.',
        icon: 'tabler:robot',
      },
      {
        title: 'Conoce a los Pioneros de la IA',
        description:
          'Varias empresas están en una competencia feroz por dominar el campo de la IA, pero descubriremos que el verdadero progreso a menudo viene de los innovadores silenciosos.',
        icon: 'tabler:flag',
      },
      {
        title: 'Programación con Python',
        description:
          'Dominarás los fundamentos de la programación en Python, específicamente aplicados al desarrollo de proyectos de inteligencia artificial.',
        icon: 'tabler:brand-python',
      },
      {
        title: 'Crea tus Propios Modelos de IA',
        description:
          'Construirás tus primeros modelos de inteligencia artificial utilizando TensorFlow y Keras, dos de las bibliotecas más potentes y versátiles en Python.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Historia de la IA',
        description:
          'Exploraremos la trayectoria histórica de la inteligencia artificial para entender cómo ha evolucionado y vislumbrar lo que nos depara el futuro (o lo que ya es presente).',
        icon: 'tabler:book',
      },
      {
        title: 'Ética en la IA',
        description:
          'Abordaremos la importancia de una regulación adecuada y un uso ético de la inteligencia artificial, reflexionando sobre su impacto en la sociedad y en el individuo.',
        icon: 'tabler:heart-handshake',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'El Poder y Complejidad del Cerebro Humano',
        description:
          'El cerebro es el centro de nuestras percepciones sensoriales, emociones, recuerdos y sueños, lo que nos hace seres inteligentes y capaces de complejas funciones que van más allá de los reflejos básicos.',
      },
      {
        title: 'El Sueño de la Inteligencia Artificial',
        description:
          'Durante décadas, hemos aspirado a crear máquinas inteligentes que puedan realizar tareas complejas por nosotros, como robots asistentes, coches autónomos y sistemas de diagnóstico médico avanzado, soñando con extender las capacidades del cerebro humano a través de la tecnología.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Vista al futuro</h3>
      El cerebro humano y el sueño de la IA
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Desarrollo de una Comprensión Fundamental de la IA',
        description: `Este curso tiene como objetivo dotar a los jóvenes con una comprensión sólida de los principios básicos de la Inteligencia Artificial y sus aplicaciones prácticas, preparándolos para navegar y prosperar en un mundo tecnológicamente avanzado.`,
      },
      {
        title: 'Capacitación para la Aplicación Práctica de la IA',
        description:
          'Más allá de comprender las tendencias actuales, el curso busca empoderar a los participantes para que se conviertan en innovadores y agentes de cambio, capaces de aplicar tecnologías de IA en su comunidad y contribuir al progreso tecnológico global.',
      },
      {
        title: 'Promoción del Desarrollo y la Inclusión Digital',
        description:
          'A través de un enfoque práctico y aplicado, el curso pretende preparar a los estudiantes para enfrentar los desafíos tecnológicos futuros, fomentando el crecimiento personal y comunitario.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Fundamentación educativa.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Motivación y Capacitación en IA',
        description:
          'El curso tiene como objetivo principal motivar a los jóvenes a comprender, analizar y aplicar conceptos de Inteligencia Artificial en la solución de problemas tanto cotidianos como técnicos, proporcionando una base sólida en teoría y práctica de la IA.',
      },
      {
        title: 'Inspiración hacia Futuros Tecnológicos',
        description:
          'Inspirar a los jóvenes a explorar campos académicos y profesionales relacionados con la tecnología, preparándolos para ser innovadores en la era digital y contribuir significativamente en sus comunidades y más allá.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Nuestro objetivo.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <section class="mt-12">
    <Headline title={'Temario'} subtitle={'Guía didáctica'} classes="mb-2 md:mb-4" />

    <Steps
      title="Módulo 1"
      subtitle="Introducción a la inteligencia artificia, herramientas de IA, etica en la IA, ¿Qué está al frente? (8 semanas)"
      items={[
        {
          title: 'Semana 1:',
          description:
            'Introducción a las nuevas tecnologías en inteligencia artificial y herramientas de IA en el mercado.',
          icon: 'tabler:player-play',
        },
        {
          title: 'Semana 2:',
          description:
            'Evolución histórica de la inteligencia artificial, identificación de sistemas /agentes inteligentes.',
          icon: 'tabler:trending-up',
        },
        {
          title: 'Semana 3:',
          description: 'Ética en el uso de la Inteligencia Artificial.',
          icon: 'tabler:peace',
        },
        {
          title: 'Semana 4:',
          description: 'Pioneros de la Inteligencia Artificial. ¿Quién está al frente?',
          icon: 'tabler:users',
        },
        {
          title: 'Semana 5:',
          description: 'Visión Artificial.',
          icon: 'tabler:device-vision-pro',
        },
        {
          title: 'Semana 6:',
          description: 'Sistemas expertos.',
          icon: 'tabler:components',
        },
        {
          title: 'Semana 7',
          description: 'Robótica.',
          icon: 'tabler:robot',
        },
        {
          title: 'Semana 8:',
          description: 'Prueba de conocimiento',
          icon: 'tabler:notes',
        },
      ]}
      image={{
        src: '~/assets/images/visuals-1.webp',
        alt: 'Steps image',
      }}
    />

    <Steps
      isReversed
      title="Módulo 2"
      subtitle="Introducción a lenguajes de programación, Python y redes neuronales, ChatBot, construyendo modelos de Python con TensorFlow. (8 semanas)"
      items={[
        {
          title: 'Semana 9:',
          description:
            'Introducción a lenguajes de programación, presentación de Python y su implementación en redes neuronales.',
          icon: 'tabler:brand-python',
        },
        {
          title: 'Semana 10:',
          description: 'Practica de ChatBot con Python parte 1.',
          icon: 'tabler:message-chatbot',
        },
        {
          title: 'Semana 11:',
          description: 'Practica de ChatBot con Python parte 2.',
          icon: 'tabler:message-chatbot',
        },
        {
          title: 'Semana 12:',
          description: 'Paradigmas de aprendizaje (supervisado, no supervisado).',
          icon: 'tabler:circle-dashed',
        },
        {
          title: 'Semana 13:',
          description: 'Incertidumbre en la inteligencia artificial, incertidumbre mediante probabilidad.',
          icon: 'tabler:chart-dots-3',
        },
        {
          title: 'Semana 14:',
          description: 'Construyendo primeros modelos con Python con TensorFlow parte 1.',
          icon: 'tabler:brand-google',
        },
        {
          title: 'Semana 15:',
          description: 'Construyendo primeros modelos con Python con TensorFlow parte 2.',
          icon: 'tabler:brand-google',
        },
        {
          title: 'Semana 16:',
          description: 'Prueba de conocimiento.',
          icon: 'tabler:notes',
        },
      ]}
      image={{
        src: '~/assets/images/python-logo.webp',
        alt: 'Steps image',
      }}
    />
  </section>

  <Steps
    title="Módulo 3"
    subtitle="Desarrollo de un asistente virtual básico, mejoras y despliegue del asistente, proyecto final. (6 semanas)"
    items={[
      {
        title: 'Semana 17:',
        description:
          'Herramientas y tecnologías para la creación de asistentes virtuales. Explicación de APIs e introducción a OpenAI API.',
        icon: 'tabler:brand-openai',
      },
      {
        title: 'Semana 18:',
        description: 'Configuración del entorno de desarrollo, diseño y construcción de un asistente virtual básico.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Semana 19:',
        description: 'Diseño de interfaces de usuario amigables y efectivas.',
        icon: 'tabler:mood-happy',
      },
      {
        title: 'Semana 20:',
        description: 'Despliegue del asistente virtual en diferentes plataformas (web, móvil, dispositivos).',
        icon: 'tabler:world',
      },
      {
        title: 'Semana 21:',
        description: 'Presentación final.',
        icon: 'tabler:slideshow',
      },
      {
        title: 'Semana 22:',
        description: 'Examen final.',
        icon: 'tabler:notes',
      },
      {
        title: 'Fin!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/visuals-2.webp',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Requisitos de inscripción"
    tagline="Inscripción"
    items={[
      {
        title: 'Copia de boleta de ornato',
        description: "Presentar copia de boleta de ornato a la municipalidad de Estanzuela <a class='text-accent hover:text-primary' href='https://maps.app.goo.gl/FoHeUmqDTXvdJwwg6' target='_blank' rel='noopener' title='Ver ubicación de la municipalidad de Estanzuela'>(ver ubicación)</a>. Si es menor de edad, presentar copia de boleta de ornato de un familiar.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Copia de partida de nacimiento',
        description:
          "Presentar copia de partida de nacimiento del estudiante en la municipalidad de Estanzuela <a class='text-accent hover:text-primary' href='https://maps.app.goo.gl/FoHeUmqDTXvdJwwg6' target='_blank' rel='noopener' title='Ver ubicación de la municipalidad de Estanzuela'>(ver ubicación)</a>.",
        icon: 'flat-color-icons:document',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿El curso es realmente grauito?',
        description:
          "Sí. Es una colaboración entre la <span class='text-accent'>municipalidad de Estanzuela</span> y la <span class='text-accent'>Universidad Mariano Gálvez de Guatemala sede Zacapa</span>. Lo único que se le pide al estudiante para inscribirse en cumplir con los requerimientos de inscripción.",
      },
      {
        title: '¿El curso incluye algún tipo de reconocimiento?',
        description:
          "Sí. Por parte de la Universidad Mariano Gálvez de Guatemala, se impartiran <span class='text-accent'>diplomas de reconocimiento</span> para aquellos estudiantes que lleguen al final del curso.",
      },
      {
        title: '¿Cuáles son los horarios de clases?',
        description:
          "Habrán 2 horarios de clases disponibles: <ul><li class='text-accent'>El plan del sábado de 8:00 A.M. a 10:00 A.M.<li class='text-accent'>Miércoles de 4:00 P.M. a 6:00 P.M.</ul>",
      },
      {
        title: "¿Cuándo empiezan las clases?",
        description:
          "El plan sábado inicia el <span class='text-accent'>2 de marzo</span> y el plan miércoles inicia el <span class='text-accent'>6 de marzo</span>.",
      },
      {
        title: '¿Se necesita de algún equipo de cómputo para asistir a clases?',
        description:
          "Si el alumno posee una computadora para llevar a clases, <span class='text-accent'>se recomienda que lo lleve</span>. Si no posee una, se promoverá que el estudiante sea participe del curso aunque no disponga de una.",
      },
      {
        title: '¿Hay cupos limitados de inscripción?',
        description:
          "Sí. En total, solamente se podrán inscribir <span class='text-accent'>40 estudiantes</span> dividido en 2 grupos: 20 estudiantes para el plan Sábado y los 20 restante para el plan Miércoles.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Inscribirme',
        href: '/inscripciones',
        icon: 'tabler:hand-stop',
      },
    ]}
  >
    <Fragment slot="title">
      IA Estanzuela
    </Fragment>

    <Fragment slot="subtitle">
      Inscribite y se parte de la innovación en Estanzuela, Zacapa.
    </Fragment>
  </CallToAction>
</Layout>
